* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}



.result-summary {
    width: 50%;
    display: flex;
    background-color: whitesmoke;
    margin-inline: auto;
    margin: 10%;
    border: 1px  transparent;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(209, 209, 235)   ;
    font-family: 'Hanken Grotesk', sans-serif;
}

.result {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
    width: 50%;
    border-radius: 25px;
    padding: 30px;
    font-family: 'Hanken Grotesk', sans-serif;
    
}

.score {
    width: 70%;
    margin-inline: auto;
    margin-bottom: 30px;
   padding: 40px;
    height: 25vh;
    border-radius: 50%;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    color: white;

}

.Overall-score {
    font-size: 4rem;
     text-align: center;
      font-weight: bolder;
      font-family: 'Hanken Grotesk', sans-serif;
     
}

.remark {
    margin-bottom: 20px;
      color: hsla(0, 0%, 100%, 0.5);
       font-weight: 500;
        font-size: 18px;
         text-align: center;
         font-family: 'Hanken Grotesk', sans-serif;

}

.summary {
    margin-left: 1rem;
    padding: 2rem;
    width: 50%;
}

.reaction {
    border-radius: 0.8rem ;
    position: relative;
    padding: 0.9rem 3.2rem ;
    margin-bottom: 1.2rem;
    font-size: 900;
    font-weight: bolder;
    background-color: hsla(0, 100%, 67%, 0.05);
    color: hsla(0, 100%, 67%, 0.7);
   
}



.memory {
    border-radius: 0.8rem;
    position: relative;
    padding: 0.9rem 3.2rem ;
    margin-bottom: 1.2rem;
    font-weight: bolder;
    font-size: 900;
    background-color: hsla(39, 100%, 56%, 0.05);
    color: hsla(39, 100%, 56%, 0.7);
    margin-bottom: 20px;


}

.verbal {
    border-radius: 0.8rem;
    position: relative;
    padding: 0.9rem 3.2rem ;
    margin-bottom: 1.2rem;  
    font-weight: bolder;
    font-size: 900;
    background-color: hsla(166, 100%, 37%, 0.05);
    color: hsla(166, 100%, 37%, 0.7);
    margin-bottom: 20px;
}

.visual {
    border-radius: 0.8rem;
    position: relative;
    padding: 0.9rem 3.2rem ;
    margin-bottom: 1.2rem;
    margin-bottom: 40px;
    font-weight: bolder;
    font-size: 900;
    background-color: hsla(234, 85%, 45%, 0.05);
    color: hsla(234, 85%, 45%, 0.7);
   
}


span img {
    position: absolute;
    top: 30%;
    left: 15px;
   
}

.raw-score {
    color: black;
    position: absolute;
    top: 30%;
    left: 190px;
    

}


.continue {
    background-color:hsl(224, 30%, 27%) ;
    text-align: center;
    color: white;
    font-weight: bolder;
    border-radius: 25px;
    cursor: pointer;  
    padding: 14px;
    

}



@media screen and (max-width:650px) {
    .result-summary {
       width: 100%;
        display: block;
        margin: 0;
       
       
      
    }

    .score {
        border-radius: 50%;
        width: 50%;
    }

    .result {
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .summary {
        width: 100%;
        margin-left: 0;
    }

   .raw-score {
    left: 280px;
    top: 30%;
   }

}


